{% extends "main.html" %}

{% block main %}

{% block address_entry %}
<script src="http://maps.google.com/maps?file=api&amp;v=2.x&amp;key=ABQIAAAArL5N6EzSThdYOpLdKDiONBTzMNwUNNwiwvUGMCs5r-EZ6AKkeRQMTyEHn9B6u1HSgL8opARPGZmv0Q" 
            type="text/javascript"></script> 
    <script type="text/javascript"> 
 
    var map;
    var geocoder;
 
    function initialize() {
      map = new GMap2(document.getElementById("map_canvas"));
      map.setCenter(new GLatLng(34, 0), 1);
      geocoder = new GClientGeocoder();
    }
 
    // addAddressToMap() is called when the geocoder returns an
    // answer.  It adds a marker to the map with an open info window
    // showing the nicely formatted version of the address and the country code.
    function addAddressToMap(response) {
      map.clearOverlays();
      if (!response || response.Status.code != 200) {
        alert("Sorry, we were unable to geocode that address");
      } else {
        place = response.Placemark[0];
        point = new GLatLng(place.Point.coordinates[1],
                            place.Point.coordinates[0]);
        marker = new GMarker(point);
        map.addOverlay(marker);
        map.setCenter(point);
        marker.openInfoWindowHtml(place.address + '<br>' +
          '<b>Country code:</b> ' + place.AddressDetails.Country.CountryNameCode);
          
        getRestaurantList(point);
      }
    }
 
    // showLocation() is called when you click on the Search button
    // in the form.  It geocodes the address entered into the form
    // and adds a marker to the map at that location.
    function showLocation() {
      var address = document.forms[0].q.value;
      geocoder.getLocations(address, addAddressToMap);
    }
 
   // findLocation() is used to enter the sample addresses into the form.
    function findLocation(address) {
      document.forms[0].q.value = address;
      showLocation();
    }
    
    
    window.addEvent('domready', function() {
     	initialize();
	});
	
	function getRestaurantList(point) {
		$('restaurants').innerHTML = "";
		var uri = "http://lite.parsnips.net/restaurants/"+($('pickup').checked ? $('pickup').value : $('delivery').value)+"/"+point.y+"/"+point.x+"/";
		var jsonRequest = new Request.JSON({url: uri, onSuccess: function(restaurants){
    		var list = new Element('table', {id : 'restaurant_list'});
    		for (var i=0; i< restaurants.length; i++) {
    			var el = new Element('tr');
    			var el2 = new Element('td');
    			el2.innerHTML = '<a href="/restaurant/'+restaurants[i].VendorLocationId+'/menu/">'+restaurants[i].Name+'</a>';
    			el.adopt(el2);
    			list.adopt(el);
    		}
    		$('restaurants').adopt(list);
		}}).get();	
	}
	
</script>
<div class="window">	
    <div class="window_title">
        Where you at broski?  How do you wanna get yer food?
    </div>

    <div class="window_body">
        <form action="#" onsubmit="showLocation(); return false;"> 
      <p> 
        <label for="q">Address: </label>
        <input type="text" name="q" value="" class="address_input" size="40" /><input type="submit" name="find" value="Search" /><br/>
        <label for="pickup">I'll Pick it up, cuz I like the planet</label>
        <input type="radio" name="delivery_method" value="pickup" id="pickup" checked/><br/>
        <label for="delivery">Drop it off here, I'm lazy</label>
        <input type="radio" name="delivery_method" value="delivery" id="delivery" /><br/>
         
      </p> 
    </form> 
    <div id="map_canvas" style="width: 500px; height: 300px"></div><div id="restaurants"></div>
    </div>

</div>
{% endblock %}
{% endblock %}
